<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.dianjiu.server.dao.TBlogDao">

    <resultMap type="cn.org.dianjiu.server.entity.TBlog" id="TBlogResultMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="blogTitle" column="blog_title" jdbcType="VARCHAR"/>
        <result property="blogText" column="blog_text" jdbcType="VARCHAR"/>
        <result property="blogSummary" column="blog_summary" jdbcType="VARCHAR"/>
        <result property="blogType" column="blog_type" jdbcType="VARCHAR"/>
        <result property="blogSort" column="blog_sort" jdbcType="VARCHAR"/>
        <result property="blogTags" column="blog_tags" jdbcType="VARCHAR"/>
        <result property="blogTopic" column="blog_topic" jdbcType="VARCHAR"/>
        <result property="blogGrade" column="blog_grade" jdbcType="INTEGER"/>
        <result property="blogAuthor" column="blog_author" jdbcType="VARCHAR"/>
        <result property="blogImgs" column="blog_imgs" jdbcType="VARCHAR"/>
        <result property="blogUrl" column="blog_url" jdbcType="VARCHAR"/>
        <result property="blogLikes" column="blog_likes" jdbcType="INTEGER"/>
        <result property="blogViews" column="blog_views" jdbcType="INTEGER"/>
        <result property="commentStatus" column="comment_status" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
        <result property="updatedBy" column="updated_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="table_field">
        id
        , blog_title, blog_text, blog_summary, blog_type, blog_sort, blog_tags, blog_topic, blog_grade, blog_author, blog_imgs, blog_url, blog_likes, blog_views, comment_status, status, created_time, created_by, updated_time, updated_by
    </sql>

    <!--通过Id查询单个对象-->
    <select id="getById" resultMap="TBlogResultMap" parameterType="java.lang.Integer">
        select
        <include refid="table_field"/>
        from t_blog
        where id = #{id,jdbcType=INTEGER}
    </select>


    <!--通过实体不为空的属性作为筛选条件查询对象列表-->
    <select id="listByEntity" resultMap="TBlogResultMap" parameterType="cn.org.dianjiu.server.entity.TBlog">
        select
        <include refid="table_field"/>
        from t_blog
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="blogTitle != null">
                and blog_title = #{blogTitle,jdbcType=VARCHAR}
            </if>
            <if test="blogText != null">
                and blog_text = #{blogText,jdbcType=VARCHAR}
            </if>
            <if test="blogSummary != null">
                and blog_summary = #{blogSummary,jdbcType=VARCHAR}
            </if>
            <if test="blogType != null">
                and blog_type = #{blogType,jdbcType=VARCHAR}
            </if>
            <if test="blogSort != null">
                and blog_sort = #{blogSort,jdbcType=VARCHAR}
            </if>
            <if test="blogTags != null">
                and blog_tags = #{blogTags,jdbcType=VARCHAR}
            </if>
            <if test="blogTopic != null">
                and blog_topic = #{blogTopic,jdbcType=VARCHAR}
            </if>
            <if test="blogGrade != null">
                and blog_grade = #{blogGrade,jdbcType=INTEGER}
            </if>
            <if test="blogAuthor != null">
                and blog_author = #{blogAuthor,jdbcType=VARCHAR}
            </if>
            <if test="blogImgs != null">
                and blog_imgs = #{blogImgs,jdbcType=VARCHAR}
            </if>
            <if test="blogUrl != null">
                and blog_url = #{blogUrl,jdbcType=VARCHAR}
            </if>
            <if test="blogLikes != null">
                and blog_likes = #{blogLikes,jdbcType=INTEGER}
            </if>
            <if test="blogViews != null">
                and blog_views = #{blogViews,jdbcType=INTEGER}
            </if>
            <if test="commentStatus != null">
                and comment_status = #{commentStatus,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=VARCHAR}
            </if>
            <if test="createdTime != null">
                and created_time = #{createdTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createdBy != null">
                and created_by = #{createdBy,jdbcType=VARCHAR}
            </if>
            <if test="updatedTime != null">
                and updated_time = #{updatedTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updatedBy != null">
                and updated_by = #{updatedBy,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--通过实体不为空的属性作为筛选条件查询单个对象-->
    <select id="getByEntity" resultMap="TBlogResultMap" parameterType="cn.org.dianjiu.server.entity.TBlog">
        select
        <include refid="table_field"/>
        from t_blog
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="blogTitle != null">
                and blog_title = #{blogTitle,jdbcType=VARCHAR}
            </if>
            <if test="blogText != null">
                and blog_text = #{blogText,jdbcType=VARCHAR}
            </if>
            <if test="blogSummary != null">
                and blog_summary = #{blogSummary,jdbcType=VARCHAR}
            </if>
            <if test="blogType != null">
                and blog_type = #{blogType,jdbcType=VARCHAR}
            </if>
            <if test="blogSort != null">
                and blog_sort = #{blogSort,jdbcType=VARCHAR}
            </if>
            <if test="blogTags != null">
                and blog_tags = #{blogTags,jdbcType=VARCHAR}
            </if>
            <if test="blogTopic != null">
                and blog_topic = #{blogTopic,jdbcType=VARCHAR}
            </if>
            <if test="blogGrade != null">
                and blog_grade = #{blogGrade,jdbcType=INTEGER}
            </if>
            <if test="blogAuthor != null">
                and blog_author = #{blogAuthor,jdbcType=VARCHAR}
            </if>
            <if test="blogImgs != null">
                and blog_imgs = #{blogImgs,jdbcType=VARCHAR}
            </if>
            <if test="blogUrl != null">
                and blog_url = #{blogUrl,jdbcType=VARCHAR}
            </if>
            <if test="blogLikes != null">
                and blog_likes = #{blogLikes,jdbcType=INTEGER}
            </if>
            <if test="blogViews != null">
                and blog_views = #{blogViews,jdbcType=INTEGER}
            </if>
            <if test="commentStatus != null">
                and comment_status = #{commentStatus,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=VARCHAR}
            </if>
            <if test="createdTime != null">
                and created_time = #{createdTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createdBy != null">
                and created_by = #{createdBy,jdbcType=VARCHAR}
            </if>
            <if test="updatedTime != null">
                and updated_time = #{updatedTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updatedBy != null">
                and updated_by = #{updatedBy,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--通过Id列表作为筛选条件查询对象列表，列表长度不为0-->
    <select id="listByIds" resultMap="TBlogResultMap" parameterType="list">
        select
        <include refid="table_field"/>
        from t_blog
        where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </select>

    <!--新增实体属性不为null的记录-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="cn.org.dianjiu.server.entity.TBlog">
        insert into t_blog
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="blogTitle != null">
                blog_title,
            </if>
            <if test="blogText != null">
                blog_text,
            </if>
            <if test="blogSummary != null">
                blog_summary,
            </if>
            <if test="blogType != null">
                blog_type,
            </if>
            <if test="blogSort != null">
                blog_sort,
            </if>
            <if test="blogTags != null">
                blog_tags,
            </if>
            <if test="blogTopic != null">
                blog_topic,
            </if>
            <if test="blogGrade != null">
                blog_grade,
            </if>
            <if test="blogAuthor != null">
                blog_author,
            </if>
            <if test="blogImgs != null">
                blog_imgs,
            </if>
            <if test="blogUrl != null">
                blog_url,
            </if>
            <if test="blogLikes != null">
                blog_likes,
            </if>
            <if test="blogViews != null">
                blog_views,
            </if>
            <if test="commentStatus != null">
                comment_status,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="updatedTime != null">
                updated_time,
            </if>
            <if test="updatedBy != null">
                updated_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="blogTitle != null">
                #{blogTitle,jdbcType=VARCHAR},
            </if>
            <if test="blogText != null">
                #{blogText,jdbcType=VARCHAR},
            </if>
            <if test="blogSummary != null">
                #{blogSummary,jdbcType=VARCHAR},
            </if>
            <if test="blogType != null">
                #{blogType,jdbcType=VARCHAR},
            </if>
            <if test="blogSort != null">
                #{blogSort,jdbcType=VARCHAR},
            </if>
            <if test="blogTags != null">
                #{blogTags,jdbcType=VARCHAR},
            </if>
            <if test="blogTopic != null">
                #{blogTopic,jdbcType=VARCHAR},
            </if>
            <if test="blogGrade != null">
                #{blogGrade,jdbcType=INTEGER},
            </if>
            <if test="blogAuthor != null">
                #{blogAuthor,jdbcType=VARCHAR},
            </if>
            <if test="blogImgs != null">
                #{blogImgs,jdbcType=VARCHAR},
            </if>
            <if test="blogUrl != null">
                #{blogUrl,jdbcType=VARCHAR},
            </if>
            <if test="blogLikes != null">
                #{blogLikes,jdbcType=INTEGER},
            </if>
            <if test="blogViews != null">
                #{blogViews,jdbcType=INTEGER},
            </if>
            <if test="commentStatus != null">
                #{commentStatus,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null">
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--批量新增所有列，列表长度不能为0，且列表id统一为null或者统一不为null-->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true" parameterType="list">
        insert into t_blog
        (<if test="id != null">id,</if>blog_title, blog_text, blog_summary, blog_type, blog_sort, blog_tags, blog_topic,
        blog_grade, blog_author, blog_imgs, blog_url, blog_likes, blog_views, comment_status, status, created_time,
        created_by, updated_time, updated_by)
        values
        <foreach item="item" collection="list" separator="," open="" close="" index="index">
            (<if test="item.id != null">#{item.id,jdbcType=INTEGER},</if>#{item.blogTitle,jdbcType=VARCHAR},
            #{item.blogText,jdbcType=VARCHAR}, #{item.blogSummary,jdbcType=VARCHAR}, #{item.blogType,jdbcType=VARCHAR},
            #{item.blogSort,jdbcType=VARCHAR}, #{item.blogTags,jdbcType=VARCHAR}, #{item.blogTopic,jdbcType=VARCHAR},
            #{item.blogGrade,jdbcType=INTEGER}, #{item.blogAuthor,jdbcType=VARCHAR}, #{item.blogImgs,jdbcType=VARCHAR},
            #{item.blogUrl,jdbcType=VARCHAR}, #{item.blogLikes,jdbcType=INTEGER}, #{item.blogViews,jdbcType=INTEGER},
            #{item.commentStatus,jdbcType=VARCHAR}, #{item.status,jdbcType=VARCHAR},
            #{item.createdTime,jdbcType=TIMESTAMP}, #{item.createdBy,jdbcType=VARCHAR},
            #{item.updatedTime,jdbcType=TIMESTAMP}, #{item.updatedBy,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <!--通过主键修改实体属性不为null的列-->
    <update id="update" parameterType="cn.org.dianjiu.server.entity.TBlog">
        update t_blog
        <set>
            <if test="blogTitle != null and blogTitle != ''">
                blog_title = #{blogTitle,jdbcType=VARCHAR},
            </if>
            <if test="blogText != null">
                blog_text = #{blogText,jdbcType=VARCHAR},
            </if>
            <if test="blogSummary != null and blogSummary != ''">
                blog_summary = #{blogSummary,jdbcType=VARCHAR},
            </if>
            <if test="blogType != null and blogType != ''">
                blog_type = #{blogType,jdbcType=VARCHAR},
            </if>
            <if test="blogSort != null and blogSort != ''">
                blog_sort = #{blogSort,jdbcType=VARCHAR},
            </if>
            <if test="blogTags != null and blogTags != ''">
                blog_tags = #{blogTags,jdbcType=VARCHAR},
            </if>
            <if test="blogTopic != null and blogTopic != ''">
                blog_topic = #{blogTopic,jdbcType=VARCHAR},
            </if>
            <if test="blogGrade != null">
                blog_grade = #{blogGrade,jdbcType=INTEGER},
            </if>
            <if test="blogAuthor != null and blogAuthor != ''">
                blog_author = #{blogAuthor,jdbcType=VARCHAR},
            </if>
            <if test="blogImgs != null and blogImgs != ''">
                blog_imgs = #{blogImgs,jdbcType=VARCHAR},
            </if>
            <if test="blogUrl != null and blogUrl != ''">
                blog_url = #{blogUrl,jdbcType=VARCHAR},
            </if>
            <if test="blogLikes != null">
                blog_likes = #{blogLikes,jdbcType=INTEGER},
            </if>
            <if test="blogViews != null">
                blog_views = #{blogViews,jdbcType=INTEGER},
            </if>
            <if test="commentStatus != null and commentStatus != ''">
                comment_status = #{commentStatus,jdbcType=VARCHAR},
            </if>
            <if test="status != null and status != ''">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null and createdBy != ''">
                created_by = #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null and updatedBy != ''">
                updated_by = #{updatedBy,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--通过表字段修改实体属性不为null的列-->
    <update id="updateByField">
        update t_blog
        <set>
            <if test="where.blogTitle == null and set.blogTitle != null and set.blogTitle != ''">
                blog_title = #{set.blogTitle,jdbcType=VARCHAR},
            </if>
            <if test="where.blogText == null and set.blogText != null">
                blog_text = #{set.blogText,jdbcType=VARCHAR},
            </if>
            <if test="where.blogSummary == null and set.blogSummary != null and set.blogSummary != ''">
                blog_summary = #{set.blogSummary,jdbcType=VARCHAR},
            </if>
            <if test="where.blogType == null and set.blogType != null and set.blogType != ''">
                blog_type = #{set.blogType,jdbcType=VARCHAR},
            </if>
            <if test="where.blogSort == null and set.blogSort != null and set.blogSort != ''">
                blog_sort = #{set.blogSort,jdbcType=VARCHAR},
            </if>
            <if test="where.blogTags == null and set.blogTags != null and set.blogTags != ''">
                blog_tags = #{set.blogTags,jdbcType=VARCHAR},
            </if>
            <if test="where.blogTopic == null and set.blogTopic != null and set.blogTopic != ''">
                blog_topic = #{set.blogTopic,jdbcType=VARCHAR},
            </if>
            <if test="where.blogGrade == null and set.blogGrade != null">
                blog_grade = #{set.blogGrade,jdbcType=INTEGER},
            </if>
            <if test="where.blogAuthor == null and set.blogAuthor != null and set.blogAuthor != ''">
                blog_author = #{set.blogAuthor,jdbcType=VARCHAR},
            </if>
            <if test="where.blogImgs == null and set.blogImgs != null and set.blogImgs != ''">
                blog_imgs = #{set.blogImgs,jdbcType=VARCHAR},
            </if>
            <if test="where.blogUrl == null and set.blogUrl != null and set.blogUrl != ''">
                blog_url = #{set.blogUrl,jdbcType=VARCHAR},
            </if>
            <if test="where.blogLikes == null and set.blogLikes != null">
                blog_likes = #{set.blogLikes,jdbcType=INTEGER},
            </if>
            <if test="where.blogViews == null and set.blogViews != null">
                blog_views = #{set.blogViews,jdbcType=INTEGER},
            </if>
            <if test="where.commentStatus == null and set.commentStatus != null and set.commentStatus != ''">
                comment_status = #{set.commentStatus,jdbcType=VARCHAR},
            </if>
            <if test="where.status == null and set.status != null and set.status != ''">
                status = #{set.status,jdbcType=VARCHAR},
            </if>
            <if test="where.createdTime == null and set.createdTime != null">
                created_time = #{set.createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="where.createdBy == null and set.createdBy != null and set.createdBy != ''">
                created_by = #{set.createdBy,jdbcType=VARCHAR},
            </if>
            <if test="where.updatedTime == null and set.updatedTime != null">
                updated_time = #{set.updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="where.updatedBy == null and set.updatedBy != null and set.updatedBy != ''">
                updated_by = #{set.updatedBy,jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            <if test="where.id != null">
                and id = #{where.id,jdbcType=INTEGER}
            </if>
            <if test="where.blogTitle != null">
                and blog_title = #{where.blogTitle,jdbcType=VARCHAR}
            </if>
            <if test="where.blogText != null">
                and blog_text = #{where.blogText,jdbcType=VARCHAR}
            </if>
            <if test="where.blogSummary != null">
                and blog_summary = #{where.blogSummary,jdbcType=VARCHAR}
            </if>
            <if test="where.blogType != null">
                and blog_type = #{where.blogType,jdbcType=VARCHAR}
            </if>
            <if test="where.blogSort != null">
                and blog_sort = #{where.blogSort,jdbcType=VARCHAR}
            </if>
            <if test="where.blogTags != null">
                and blog_tags = #{where.blogTags,jdbcType=VARCHAR}
            </if>
            <if test="where.blogTopic != null">
                and blog_topic = #{where.blogTopic,jdbcType=VARCHAR}
            </if>
            <if test="where.blogGrade != null">
                and blog_grade = #{where.blogGrade,jdbcType=INTEGER}
            </if>
            <if test="where.blogAuthor != null">
                and blog_author = #{where.blogAuthor,jdbcType=VARCHAR}
            </if>
            <if test="where.blogImgs != null">
                and blog_imgs = #{where.blogImgs,jdbcType=VARCHAR}
            </if>
            <if test="where.blogUrl != null">
                and blog_url = #{where.blogUrl,jdbcType=VARCHAR}
            </if>
            <if test="where.blogLikes != null">
                and blog_likes = #{where.blogLikes,jdbcType=INTEGER}
            </if>
            <if test="where.blogViews != null">
                and blog_views = #{where.blogViews,jdbcType=INTEGER}
            </if>
            <if test="where.commentStatus != null">
                and comment_status = #{where.commentStatus,jdbcType=VARCHAR}
            </if>
            <if test="where.status != null">
                and status = #{where.status,jdbcType=VARCHAR}
            </if>
            <if test="where.createdTime != null">
                and created_time = #{where.createdTime,jdbcType=TIMESTAMP}
            </if>
            <if test="where.createdBy != null">
                and created_by = #{where.createdBy,jdbcType=VARCHAR}
            </if>
            <if test="where.updatedTime != null">
                and updated_time = #{where.updatedTime,jdbcType=TIMESTAMP}
            </if>
            <if test="where.updatedBy != null">
                and updated_by = #{where.updatedBy,jdbcType=VARCHAR}
            </if>
        </where>
    </update>

    <!--通过主键修改实体列表，列表长度不能为0，注意：当实体属性为null时，对应的列也会别更新为null-->
    <update id="updateBatch" parameterType="list">
        update t_blog
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="blog_title = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.blogTitle}
                </foreach>
            </trim>
            <trim prefix="blog_text = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.blogText}
                </foreach>
            </trim>
            <trim prefix="blog_summary = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.blogSummary}
                </foreach>
            </trim>
            <trim prefix="blog_type = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.blogType}
                </foreach>
            </trim>
            <trim prefix="blog_sort = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.blogSort}
                </foreach>
            </trim>
            <trim prefix="blog_tags = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.blogTags}
                </foreach>
            </trim>
            <trim prefix="blog_topic = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.blogTopic}
                </foreach>
            </trim>
            <trim prefix="blog_grade = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.blogGrade}
                </foreach>
            </trim>
            <trim prefix="blog_author = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.blogAuthor}
                </foreach>
            </trim>
            <trim prefix="blog_imgs = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.blogImgs}
                </foreach>
            </trim>
            <trim prefix="blog_url = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.blogUrl}
                </foreach>
            </trim>
            <trim prefix="blog_likes = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.blogLikes}
                </foreach>
            </trim>
            <trim prefix="blog_views = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.blogViews}
                </foreach>
            </trim>
            <trim prefix="comment_status = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.commentStatus}
                </foreach>
            </trim>
            <trim prefix="status = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.status}
                </foreach>
            </trim>
            <trim prefix="created_time = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.createdTime}
                </foreach>
            </trim>
            <trim prefix="created_by = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.createdBy}
                </foreach>
            </trim>
            <trim prefix="updated_time = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.updatedTime}
                </foreach>
            </trim>
            <trim prefix="updated_by = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.updatedBy}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>

    <!--通过主键删除-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete
        from t_blog
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <!--通过实体非空属性删除-->
    <delete id="deleteByEntity" parameterType="cn.org.dianjiu.server.entity.TBlog">
        delete from t_blog
        <where>
            <if test="blogTitle != null">
                and blog_title = #{blogTitle,jdbcType=VARCHAR}
            </if>
            <if test="blogText != null">
                and blog_text = #{blogText,jdbcType=VARCHAR}
            </if>
            <if test="blogSummary != null">
                and blog_summary = #{blogSummary,jdbcType=VARCHAR}
            </if>
            <if test="blogType != null">
                and blog_type = #{blogType,jdbcType=VARCHAR}
            </if>
            <if test="blogSort != null">
                and blog_sort = #{blogSort,jdbcType=VARCHAR}
            </if>
            <if test="blogTags != null">
                and blog_tags = #{blogTags,jdbcType=VARCHAR}
            </if>
            <if test="blogTopic != null">
                and blog_topic = #{blogTopic,jdbcType=VARCHAR}
            </if>
            <if test="blogGrade != null">
                and blog_grade = #{blogGrade,jdbcType=INTEGER}
            </if>
            <if test="blogAuthor != null">
                and blog_author = #{blogAuthor,jdbcType=VARCHAR}
            </if>
            <if test="blogImgs != null">
                and blog_imgs = #{blogImgs,jdbcType=VARCHAR}
            </if>
            <if test="blogUrl != null">
                and blog_url = #{blogUrl,jdbcType=VARCHAR}
            </if>
            <if test="blogLikes != null">
                and blog_likes = #{blogLikes,jdbcType=INTEGER}
            </if>
            <if test="blogViews != null">
                and blog_views = #{blogViews,jdbcType=INTEGER}
            </if>
            <if test="commentStatus != null">
                and comment_status = #{commentStatus,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=VARCHAR}
            </if>
            <if test="createdTime != null">
                and created_time = #{createdTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createdBy != null">
                and created_by = #{createdBy,jdbcType=VARCHAR}
            </if>
            <if test="updatedTime != null">
                and updated_time = #{updatedTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updatedBy != null">
                and updated_by = #{updatedBy,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>

    <!--通过主键列表删除，列表长度不能为0-->
    <delete id="deleteByIds" parameterType="list">
        delete from t_blog where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </delete>

    <select id="countAll" resultType="int">
        select count(id)
        from t_blog
    </select>

    <select id="countByEntity" parameterType="cn.org.dianjiu.server.entity.TBlog" resultType="int">
        select count(id) from t_blog
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="blogTitle != null">
                and blog_title = #{blogTitle,jdbcType=VARCHAR}
            </if>
            <if test="blogText != null">
                and blog_text = #{blogText,jdbcType=VARCHAR}
            </if>
            <if test="blogSummary != null">
                and blog_summary = #{blogSummary,jdbcType=VARCHAR}
            </if>
            <if test="blogType != null">
                and blog_type = #{blogType,jdbcType=VARCHAR}
            </if>
            <if test="blogSort != null">
                and blog_sort = #{blogSort,jdbcType=VARCHAR}
            </if>
            <if test="blogTags != null">
                and blog_tags = #{blogTags,jdbcType=VARCHAR}
            </if>
            <if test="blogTopic != null">
                and blog_topic = #{blogTopic,jdbcType=VARCHAR}
            </if>
            <if test="blogGrade != null">
                and blog_grade = #{blogGrade,jdbcType=INTEGER}
            </if>
            <if test="blogAuthor != null">
                and blog_author = #{blogAuthor,jdbcType=VARCHAR}
            </if>
            <if test="blogImgs != null">
                and blog_imgs = #{blogImgs,jdbcType=VARCHAR}
            </if>
            <if test="blogUrl != null">
                and blog_url = #{blogUrl,jdbcType=VARCHAR}
            </if>
            <if test="blogLikes != null">
                and blog_likes = #{blogLikes,jdbcType=INTEGER}
            </if>
            <if test="blogViews != null">
                and blog_views = #{blogViews,jdbcType=INTEGER}
            </if>
            <if test="commentStatus != null">
                and comment_status = #{commentStatus,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=VARCHAR}
            </if>
            <if test="createdTime != null">
                and created_time = #{createdTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createdBy != null">
                and created_by = #{createdBy,jdbcType=VARCHAR}
            </if>
            <if test="updatedTime != null">
                and updated_time = #{updatedTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updatedBy != null">
                and updated_by = #{updatedBy,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>

