<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.dianjiu.server.dao.TBlogLabelDao">

    <resultMap type="cn.org.dianjiu.server.entity.TBlogLabel" id="TBlogLabelResultMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="labelName" column="label_name" jdbcType="VARCHAR"/>
        <result property="labelUrl" column="label_url" jdbcType="VARCHAR"/>
        <result property="labelDescribe" column="label_describe" jdbcType="VARCHAR"/>
        <result property="labelType" column="label_type" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
        <result property="updatedBy" column="updated_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="table_field">
        id
        , label_name, label_url, label_describe, label_type, status, created_time, created_by, updated_time, updated_by
    </sql>

    <!--通过Id查询单个对象-->
    <select id="getById" resultMap="TBlogLabelResultMap" parameterType="java.lang.Integer">
        select
        <include refid="table_field"/>
        from t_blog_label
        where id = #{id,jdbcType=INTEGER}
    </select>


    <!--通过实体不为空的属性作为筛选条件查询对象列表-->
    <select id="listByEntity" resultMap="TBlogLabelResultMap" parameterType="cn.org.dianjiu.server.entity.TBlogLabel">
        select
        <include refid="table_field"/>
        from t_blog_label
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="labelName != null">
                and label_name = #{labelName,jdbcType=VARCHAR}
            </if>
            <if test="labelUrl != null">
                and label_url = #{labelUrl,jdbcType=VARCHAR}
            </if>
            <if test="labelDescribe != null">
                and label_describe = #{labelDescribe,jdbcType=VARCHAR}
            </if>
            <if test="labelType != null">
                and label_type = #{labelType,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=VARCHAR}
            </if>
            <if test="createdTime != null">
                and created_time = #{createdTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createdBy != null">
                and created_by = #{createdBy,jdbcType=VARCHAR}
            </if>
            <if test="updatedTime != null">
                and updated_time = #{updatedTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updatedBy != null">
                and updated_by = #{updatedBy,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--通过实体不为空的属性作为筛选条件查询单个对象-->
    <select id="getByEntity" resultMap="TBlogLabelResultMap" parameterType="cn.org.dianjiu.server.entity.TBlogLabel">
        select
        <include refid="table_field"/>
        from t_blog_label
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="labelName != null">
                and label_name = #{labelName,jdbcType=VARCHAR}
            </if>
            <if test="labelUrl != null">
                and label_url = #{labelUrl,jdbcType=VARCHAR}
            </if>
            <if test="labelDescribe != null">
                and label_describe = #{labelDescribe,jdbcType=VARCHAR}
            </if>
            <if test="labelType != null">
                and label_type = #{labelType,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=VARCHAR}
            </if>
            <if test="createdTime != null">
                and created_time = #{createdTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createdBy != null">
                and created_by = #{createdBy,jdbcType=VARCHAR}
            </if>
            <if test="updatedTime != null">
                and updated_time = #{updatedTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updatedBy != null">
                and updated_by = #{updatedBy,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--通过Id列表作为筛选条件查询对象列表，列表长度不为0-->
    <select id="listByIds" resultMap="TBlogLabelResultMap" parameterType="list">
        select
        <include refid="table_field"/>
        from t_blog_label
        where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </select>

    <!--新增实体属性不为null的记录-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true"
            parameterType="cn.org.dianjiu.server.entity.TBlogLabel">
        insert into t_blog_label
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="labelName != null">
                label_name,
            </if>
            <if test="labelUrl != null">
                label_url,
            </if>
            <if test="labelDescribe != null">
                label_describe,
            </if>
            <if test="labelType != null">
                label_type,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="updatedTime != null">
                updated_time,
            </if>
            <if test="updatedBy != null">
                updated_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="labelName != null">
                #{labelName,jdbcType=VARCHAR},
            </if>
            <if test="labelUrl != null">
                #{labelUrl,jdbcType=VARCHAR},
            </if>
            <if test="labelDescribe != null">
                #{labelDescribe,jdbcType=VARCHAR},
            </if>
            <if test="labelType != null">
                #{labelType,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null">
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--批量新增所有列，列表长度不能为0，且列表id统一为null或者统一不为null-->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true" parameterType="list">
        insert into t_blog_label
        (<if test="id != null">id,</if>label_name, label_url, label_describe, label_type, status, created_time,
        created_by, updated_time, updated_by)
        values
        <foreach item="item" collection="list" separator="," open="" close="" index="index">
            (<if test="item.id != null">#{item.id,jdbcType=INTEGER},</if>#{item.labelName,jdbcType=VARCHAR},
            #{item.labelUrl,jdbcType=VARCHAR}, #{item.labelDescribe,jdbcType=VARCHAR},
            #{item.labelType,jdbcType=VARCHAR}, #{item.status,jdbcType=VARCHAR}, #{item.createdTime,jdbcType=TIMESTAMP},
            #{item.createdBy,jdbcType=VARCHAR}, #{item.updatedTime,jdbcType=TIMESTAMP},
            #{item.updatedBy,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <!--通过主键修改实体属性不为null的列-->
    <update id="update" parameterType="cn.org.dianjiu.server.entity.TBlogLabel">
        update t_blog_label
        <set>
            <if test="labelName != null and labelName != ''">
                label_name = #{labelName,jdbcType=VARCHAR},
            </if>
            <if test="labelUrl != null and labelUrl != ''">
                label_url = #{labelUrl,jdbcType=VARCHAR},
            </if>
            <if test="labelDescribe != null and labelDescribe != ''">
                label_describe = #{labelDescribe,jdbcType=VARCHAR},
            </if>
            <if test="labelType != null and labelType != ''">
                label_type = #{labelType,jdbcType=VARCHAR},
            </if>
            <if test="status != null and status != ''">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null and createdBy != ''">
                created_by = #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null and updatedBy != ''">
                updated_by = #{updatedBy,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--通过表字段修改实体属性不为null的列-->
    <update id="updateByField">
        update t_blog_label
        <set>
            <if test="where.labelName == null and set.labelName != null and set.labelName != ''">
                label_name = #{set.labelName,jdbcType=VARCHAR},
            </if>
            <if test="where.labelUrl == null and set.labelUrl != null and set.labelUrl != ''">
                label_url = #{set.labelUrl,jdbcType=VARCHAR},
            </if>
            <if test="where.labelDescribe == null and set.labelDescribe != null and set.labelDescribe != ''">
                label_describe = #{set.labelDescribe,jdbcType=VARCHAR},
            </if>
            <if test="where.labelType == null and set.labelType != null and set.labelType != ''">
                label_type = #{set.labelType,jdbcType=VARCHAR},
            </if>
            <if test="where.status == null and set.status != null and set.status != ''">
                status = #{set.status,jdbcType=VARCHAR},
            </if>
            <if test="where.createdTime == null and set.createdTime != null">
                created_time = #{set.createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="where.createdBy == null and set.createdBy != null and set.createdBy != ''">
                created_by = #{set.createdBy,jdbcType=VARCHAR},
            </if>
            <if test="where.updatedTime == null and set.updatedTime != null">
                updated_time = #{set.updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="where.updatedBy == null and set.updatedBy != null and set.updatedBy != ''">
                updated_by = #{set.updatedBy,jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            <if test="where.id != null">
                and id = #{where.id,jdbcType=INTEGER}
            </if>
            <if test="where.labelName != null">
                and label_name = #{where.labelName,jdbcType=VARCHAR}
            </if>
            <if test="where.labelUrl != null">
                and label_url = #{where.labelUrl,jdbcType=VARCHAR}
            </if>
            <if test="where.labelDescribe != null">
                and label_describe = #{where.labelDescribe,jdbcType=VARCHAR}
            </if>
            <if test="where.labelType != null">
                and label_type = #{where.labelType,jdbcType=VARCHAR}
            </if>
            <if test="where.status != null">
                and status = #{where.status,jdbcType=VARCHAR}
            </if>
            <if test="where.createdTime != null">
                and created_time = #{where.createdTime,jdbcType=TIMESTAMP}
            </if>
            <if test="where.createdBy != null">
                and created_by = #{where.createdBy,jdbcType=VARCHAR}
            </if>
            <if test="where.updatedTime != null">
                and updated_time = #{where.updatedTime,jdbcType=TIMESTAMP}
            </if>
            <if test="where.updatedBy != null">
                and updated_by = #{where.updatedBy,jdbcType=VARCHAR}
            </if>
        </where>
    </update>

    <!--通过主键修改实体列表，列表长度不能为0，注意：当实体属性为null时，对应的列也会别更新为null-->
    <update id="updateBatch" parameterType="list">
        update t_blog_label
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="label_name = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.labelName}
                </foreach>
            </trim>
            <trim prefix="label_url = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.labelUrl}
                </foreach>
            </trim>
            <trim prefix="label_describe = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.labelDescribe}
                </foreach>
            </trim>
            <trim prefix="label_type = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.labelType}
                </foreach>
            </trim>
            <trim prefix="status = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.status}
                </foreach>
            </trim>
            <trim prefix="created_time = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.createdTime}
                </foreach>
            </trim>
            <trim prefix="created_by = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.createdBy}
                </foreach>
            </trim>
            <trim prefix="updated_time = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.updatedTime}
                </foreach>
            </trim>
            <trim prefix="updated_by = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.updatedBy}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>

    <!--通过主键删除-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete
        from t_blog_label
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <!--通过实体非空属性删除-->
    <delete id="deleteByEntity" parameterType="cn.org.dianjiu.server.entity.TBlogLabel">
        delete from t_blog_label
        <where>
            <if test="labelName != null">
                and label_name = #{labelName,jdbcType=VARCHAR}
            </if>
            <if test="labelUrl != null">
                and label_url = #{labelUrl,jdbcType=VARCHAR}
            </if>
            <if test="labelDescribe != null">
                and label_describe = #{labelDescribe,jdbcType=VARCHAR}
            </if>
            <if test="labelType != null">
                and label_type = #{labelType,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=VARCHAR}
            </if>
            <if test="createdTime != null">
                and created_time = #{createdTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createdBy != null">
                and created_by = #{createdBy,jdbcType=VARCHAR}
            </if>
            <if test="updatedTime != null">
                and updated_time = #{updatedTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updatedBy != null">
                and updated_by = #{updatedBy,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>

    <!--通过主键列表删除，列表长度不能为0-->
    <delete id="deleteByIds" parameterType="list">
        delete from t_blog_label where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </delete>

    <select id="countAll" resultType="int">
        select count(id)
        from t_blog_label
    </select>

    <select id="countByEntity" parameterType="cn.org.dianjiu.server.entity.TBlogLabel" resultType="int">
        select count(id) from t_blog_label
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="labelName != null">
                and label_name = #{labelName,jdbcType=VARCHAR}
            </if>
            <if test="labelUrl != null">
                and label_url = #{labelUrl,jdbcType=VARCHAR}
            </if>
            <if test="labelDescribe != null">
                and label_describe = #{labelDescribe,jdbcType=VARCHAR}
            </if>
            <if test="labelType != null">
                and label_type = #{labelType,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=VARCHAR}
            </if>
            <if test="createdTime != null">
                and created_time = #{createdTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createdBy != null">
                and created_by = #{createdBy,jdbcType=VARCHAR}
            </if>
            <if test="updatedTime != null">
                and updated_time = #{updatedTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updatedBy != null">
                and updated_by = #{updatedBy,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>

