<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.dianjiu.server.dao.TMenuDao">

    <resultMap type="cn.org.dianjiu.server.entity.TMenu" id="TMenuResultMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="menuUrl" column="menu_url" jdbcType="VARCHAR"/>
        <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
        <result property="menuIcon" column="menu_icon" jdbcType="VARCHAR"/>
        <result property="menuSort" column="menu_sort" jdbcType="INTEGER"/>
        <result property="menuTarget" column="menu_target" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="table_field">
      id, menu_url, menu_name, menu_icon, menu_sort, menu_target, create_time, update_time, status      
    </sql>

    <!--通过Id查询单个对象-->
    <select id="getById" resultMap="TMenuResultMap" parameterType="java.lang.Integer">
        select
        <include refid="table_field"/>
        from t_menu
        where id = #{id,jdbcType=INTEGER}
    </select>


    <!--通过实体不为空的属性作为筛选条件查询对象列表-->
    <select id="listByEntity" resultMap="TMenuResultMap" parameterType="cn.org.dianjiu.server.entity.TMenu">
        select
        <include refid="table_field"/>
        from t_menu
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="menuUrl != null">
                and menu_url = #{menuUrl,jdbcType=VARCHAR}
            </if>
            <if test="menuName != null">
                and menu_name = #{menuName,jdbcType=VARCHAR}
            </if>
            <if test="menuIcon != null">
                and menu_icon = #{menuIcon,jdbcType=VARCHAR}
            </if>
            <if test="menuSort != null">
                and menu_sort = #{menuSort,jdbcType=INTEGER}
            </if>
            <if test="menuTarget != null">
                and menu_target = #{menuTarget,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--通过实体不为空的属性作为筛选条件查询单个对象-->
    <select id="getByEntity" resultMap="TMenuResultMap" parameterType="cn.org.dianjiu.server.entity.TMenu">
        select
        <include refid="table_field"/>
        from t_menu
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="menuUrl != null">
                and menu_url = #{menuUrl,jdbcType=VARCHAR}
            </if>
            <if test="menuName != null">
                and menu_name = #{menuName,jdbcType=VARCHAR}
            </if>
            <if test="menuIcon != null">
                and menu_icon = #{menuIcon,jdbcType=VARCHAR}
            </if>
            <if test="menuSort != null">
                and menu_sort = #{menuSort,jdbcType=INTEGER}
            </if>
            <if test="menuTarget != null">
                and menu_target = #{menuTarget,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--通过Id列表作为筛选条件查询对象列表，列表长度不为0-->
    <select id="listByIds" resultMap="TMenuResultMap" parameterType="list">
        select
        <include refid="table_field"/>
        from t_menu
        where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </select>

    <!--新增实体属性不为null的记录-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="cn.org.dianjiu.server.entity.TMenu">
        insert into t_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="menuUrl != null">
                menu_url,
            </if>
            <if test="menuName != null">
                menu_name,
            </if>
            <if test="menuIcon != null">
                menu_icon,
            </if>
            <if test="menuSort != null">
                menu_sort,
            </if>
            <if test="menuTarget != null">
                menu_target,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="menuUrl != null">
                #{menuUrl,jdbcType=VARCHAR},
            </if>
            <if test="menuName != null">
                #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="menuIcon != null">
                #{menuIcon,jdbcType=VARCHAR},
            </if>
            <if test="menuSort != null">
                #{menuSort,jdbcType=INTEGER},
            </if>
            <if test="menuTarget != null">
                #{menuTarget,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--批量新增所有列，列表长度不能为0，且列表id统一为null或者统一不为null-->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true" parameterType="list">
        insert into t_menu
        (<if test="id != null">id,</if>menu_url, menu_name, menu_icon, menu_sort, menu_target, create_time, update_time,
        status)
        values
        <foreach item="item" collection="list" separator="," open="" close="" index="index">
            (<if test="item.id != null">#{item.id,jdbcType=INTEGER},</if>#{item.menuUrl,jdbcType=VARCHAR},
            #{item.menuName,jdbcType=VARCHAR}, #{item.menuIcon,jdbcType=VARCHAR}, #{item.menuSort,jdbcType=INTEGER},
            #{item.menuTarget,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateTime,jdbcType=TIMESTAMP}, #{item.status,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <!--通过主键修改实体属性不为null的列-->
    <update id="update" parameterType="cn.org.dianjiu.server.entity.TMenu">
        update t_menu
        <set>
            <if test="menuUrl != null and menuUrl != ''">
                menu_url = #{menuUrl,jdbcType=VARCHAR},
            </if>
            <if test="menuName != null and menuName != ''">
                menu_name = #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="menuIcon != null and menuIcon != ''">
                menu_icon = #{menuIcon,jdbcType=VARCHAR},
            </if>
            <if test="menuSort != null">
                menu_sort = #{menuSort,jdbcType=INTEGER},
            </if>
            <if test="menuTarget != null and menuTarget != ''">
                menu_target = #{menuTarget,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null and status != ''">
                status = #{status,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--通过表字段修改实体属性不为null的列-->
    <update id="updateByField">
        update t_menu
        <set>
            <if test="where.menuUrl == null and set.menuUrl != null and set.menuUrl != ''">
                menu_url = #{set.menuUrl,jdbcType=VARCHAR},
            </if>
            <if test="where.menuName == null and set.menuName != null and set.menuName != ''">
                menu_name = #{set.menuName,jdbcType=VARCHAR},
            </if>
            <if test="where.menuIcon == null and set.menuIcon != null and set.menuIcon != ''">
                menu_icon = #{set.menuIcon,jdbcType=VARCHAR},
            </if>
            <if test="where.menuSort == null and set.menuSort != null">
                menu_sort = #{set.menuSort,jdbcType=INTEGER},
            </if>
            <if test="where.menuTarget == null and set.menuTarget != null and set.menuTarget != ''">
                menu_target = #{set.menuTarget,jdbcType=VARCHAR},
            </if>
            <if test="where.createTime == null and set.createTime != null">
                create_time = #{set.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="where.updateTime == null and set.updateTime != null">
                update_time = #{set.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="where.status == null and set.status != null and set.status != ''">
                status = #{set.status,jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            <if test="where.id != null">
                and id = #{where.id,jdbcType=INTEGER}
            </if>
            <if test="where.menuUrl != null">
                and menu_url = #{where.menuUrl,jdbcType=VARCHAR}
            </if>
            <if test="where.menuName != null">
                and menu_name = #{where.menuName,jdbcType=VARCHAR}
            </if>
            <if test="where.menuIcon != null">
                and menu_icon = #{where.menuIcon,jdbcType=VARCHAR}
            </if>
            <if test="where.menuSort != null">
                and menu_sort = #{where.menuSort,jdbcType=INTEGER}
            </if>
            <if test="where.menuTarget != null">
                and menu_target = #{where.menuTarget,jdbcType=VARCHAR}
            </if>
            <if test="where.createTime != null">
                and create_time = #{where.createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="where.updateTime != null">
                and update_time = #{where.updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="where.status != null">
                and status = #{where.status,jdbcType=VARCHAR}
            </if>
        </where>
    </update>

    <!--通过主键修改实体列表，列表长度不能为0，注意：当实体属性为null时，对应的列也会别更新为null-->
    <update id="updateBatch" parameterType="list">
        update t_menu
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="menu_url = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.menuUrl}
                </foreach>
            </trim>
            <trim prefix="menu_name = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.menuName}
                </foreach>
            </trim>
            <trim prefix="menu_icon = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.menuIcon}
                </foreach>
            </trim>
            <trim prefix="menu_sort = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.menuSort}
                </foreach>
            </trim>
            <trim prefix="menu_target = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.menuTarget}
                </foreach>
            </trim>
            <trim prefix="create_time = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.createTime}
                </foreach>
            </trim>
            <trim prefix="update_time = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.updateTime}
                </foreach>
            </trim>
            <trim prefix="status = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.status}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>

    <!--通过主键删除-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_menu where id = #{id,jdbcType=INTEGER}
    </delete>

    <!--通过实体非空属性删除-->
    <delete id="deleteByEntity" parameterType="cn.org.dianjiu.server.entity.TMenu">
        delete from t_menu
        <where>
            <if test="menuUrl != null">
                and menu_url = #{menuUrl,jdbcType=VARCHAR}
            </if>
            <if test="menuName != null">
                and menu_name = #{menuName,jdbcType=VARCHAR}
            </if>
            <if test="menuIcon != null">
                and menu_icon = #{menuIcon,jdbcType=VARCHAR}
            </if>
            <if test="menuSort != null">
                and menu_sort = #{menuSort,jdbcType=INTEGER}
            </if>
            <if test="menuTarget != null">
                and menu_target = #{menuTarget,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>

    <!--通过主键列表删除，列表长度不能为0-->
    <delete id="deleteByIds" parameterType="list">
        delete from t_menu where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </delete>

    <select id="countAll" resultType="int">
        select count(id) from t_menu
    </select>

    <select id="countByEntity" parameterType="cn.org.dianjiu.server.entity.TMenu" resultType="int">
        select count(id) from t_menu
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="menuUrl != null">
                and menu_url = #{menuUrl,jdbcType=VARCHAR}
            </if>
            <if test="menuName != null">
                and menu_name = #{menuName,jdbcType=VARCHAR}
            </if>
            <if test="menuIcon != null">
                and menu_icon = #{menuIcon,jdbcType=VARCHAR}
            </if>
            <if test="menuSort != null">
                and menu_sort = #{menuSort,jdbcType=INTEGER}
            </if>
            <if test="menuTarget != null">
                and menu_target = #{menuTarget,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>