<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.dianjiu.server.dao.TUserDao">

    <resultMap type="cn.org.dianjiu.server.entity.TUser" id="TUserResultMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="loginEnable" column="login_enable" jdbcType="VARCHAR"/>
        <result property="loginError" column="login_error" jdbcType="INTEGER"/>
        <result property="loginLastTime" column="login_last_time" jdbcType="TIMESTAMP"/>
        <result property="userImage" column="user_image" jdbcType="VARCHAR"/>
        <result property="userDisplayName" column="user_display_name" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="userDesc" column="user_desc" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="qq" column="qq" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
        <result property="updatedBy" column="updated_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="table_field">
        id
        , login_enable, login_error, login_last_time, user_image, user_display_name, username, password, user_desc, sex, phone, email, qq, created_time, created_by, updated_time, updated_by
    </sql>

    <!--通过Id查询单个对象-->
    <select id="getById" resultMap="TUserResultMap" parameterType="java.lang.Integer">
        select
        <include refid="table_field"/>
        from t_user
        where id = #{id,jdbcType=INTEGER}
    </select>


    <!--通过实体不为空的属性作为筛选条件查询对象列表-->
    <select id="listByEntity" resultMap="TUserResultMap" parameterType="cn.org.dianjiu.server.entity.TUser">
        select
        <include refid="table_field"/>
        from t_user
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="loginEnable != null">
                and login_enable = #{loginEnable,jdbcType=VARCHAR}
            </if>
            <if test="loginError != null">
                and login_error = #{loginError,jdbcType=INTEGER}
            </if>
            <if test="loginLastTime != null">
                and login_last_time = #{loginLastTime,jdbcType=TIMESTAMP}
            </if>
            <if test="userImage != null">
                and user_image = #{userImage,jdbcType=VARCHAR}
            </if>
            <if test="userDisplayName != null">
                and user_display_name = #{userDisplayName,jdbcType=VARCHAR}
            </if>
            <if test="username != null">
                and username = #{username,jdbcType=VARCHAR}
            </if>
            <if test="password != null">
                and password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="userDesc != null">
                and user_desc = #{userDesc,jdbcType=VARCHAR}
            </if>
            <if test="sex != null">
                and sex = #{sex,jdbcType=VARCHAR}
            </if>
            <if test="phone != null">
                and phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="email != null">
                and email = #{email,jdbcType=VARCHAR}
            </if>
            <if test="qq != null">
                and qq = #{qq,jdbcType=VARCHAR}
            </if>
            <if test="createdTime != null">
                and created_time = #{createdTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createdBy != null">
                and created_by = #{createdBy,jdbcType=VARCHAR}
            </if>
            <if test="updatedTime != null">
                and updated_time = #{updatedTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updatedBy != null">
                and updated_by = #{updatedBy,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--通过实体不为空的属性作为筛选条件查询单个对象-->
    <select id="getByEntity" resultMap="TUserResultMap" parameterType="cn.org.dianjiu.server.entity.TUser">
        select
        <include refid="table_field"/>
        from t_user
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="loginEnable != null">
                and login_enable = #{loginEnable,jdbcType=VARCHAR}
            </if>
            <if test="loginError != null">
                and login_error = #{loginError,jdbcType=INTEGER}
            </if>
            <if test="loginLastTime != null">
                and login_last_time = #{loginLastTime,jdbcType=TIMESTAMP}
            </if>
            <if test="userImage != null">
                and user_image = #{userImage,jdbcType=VARCHAR}
            </if>
            <if test="userDisplayName != null">
                and user_display_name = #{userDisplayName,jdbcType=VARCHAR}
            </if>
            <if test="username != null">
                and username = #{username,jdbcType=VARCHAR}
            </if>
            <if test="password != null">
                and password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="userDesc != null">
                and user_desc = #{userDesc,jdbcType=VARCHAR}
            </if>
            <if test="sex != null">
                and sex = #{sex,jdbcType=VARCHAR}
            </if>
            <if test="phone != null">
                and phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="email != null">
                and email = #{email,jdbcType=VARCHAR}
            </if>
            <if test="qq != null">
                and qq = #{qq,jdbcType=VARCHAR}
            </if>
            <if test="createdTime != null">
                and created_time = #{createdTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createdBy != null">
                and created_by = #{createdBy,jdbcType=VARCHAR}
            </if>
            <if test="updatedTime != null">
                and updated_time = #{updatedTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updatedBy != null">
                and updated_by = #{updatedBy,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--通过Id列表作为筛选条件查询对象列表，列表长度不为0-->
    <select id="listByIds" resultMap="TUserResultMap" parameterType="list">
        select
        <include refid="table_field"/>
        from t_user
        where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </select>

    <!--新增实体属性不为null的记录-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="cn.org.dianjiu.server.entity.TUser">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="loginEnable != null">
                login_enable,
            </if>
            <if test="loginError != null">
                login_error,
            </if>
            <if test="loginLastTime != null">
                login_last_time,
            </if>
            <if test="userImage != null">
                user_image,
            </if>
            <if test="userDisplayName != null">
                user_display_name,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="userDesc != null">
                user_desc,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="qq != null">
                qq,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="updatedTime != null">
                updated_time,
            </if>
            <if test="updatedBy != null">
                updated_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="loginEnable != null">
                #{loginEnable,jdbcType=VARCHAR},
            </if>
            <if test="loginError != null">
                #{loginError,jdbcType=INTEGER},
            </if>
            <if test="loginLastTime != null">
                #{loginLastTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userImage != null">
                #{userImage,jdbcType=VARCHAR},
            </if>
            <if test="userDisplayName != null">
                #{userDisplayName,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="userDesc != null">
                #{userDesc,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="qq != null">
                #{qq,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null">
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--批量新增所有列，列表长度不能为0，且列表id统一为null或者统一不为null-->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true" parameterType="list">
        insert into t_user
        (<if test="id != null">id,</if>login_enable, login_error, login_last_time, user_image, user_display_name,
        username, password, user_desc, sex, phone, email, qq)
        values
        <foreach item="item" collection="list" separator="," open="" close="" index="index">
            (<if test="item.id != null">#{item.id,jdbcType=INTEGER},</if>#{item.loginEnable,jdbcType=VARCHAR},
            #{item.loginError,jdbcType=INTEGER}, #{item.loginLastTime,jdbcType=TIMESTAMP},
            #{item.userImage,jdbcType=VARCHAR}, #{item.userDisplayName,jdbcType=VARCHAR},
            #{item.username,jdbcType=VARCHAR}, #{item.password,jdbcType=VARCHAR}, #{item.userDesc,jdbcType=VARCHAR},
            #{item.sex,jdbcType=VARCHAR}, #{item.phone,jdbcType=VARCHAR}, #{item.email,jdbcType=VARCHAR},
            #{item.qq,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <!--通过主键修改实体属性不为null的列-->
    <update id="update" parameterType="cn.org.dianjiu.server.entity.TUser">
        update t_user
        <set>
            <if test="loginEnable != null and loginEnable != ''">
                login_enable = #{loginEnable,jdbcType=VARCHAR},
            </if>
            <if test="loginError != null">
                login_error = #{loginError,jdbcType=INTEGER},
            </if>
            <if test="loginLastTime != null">
                login_last_time = #{loginLastTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userImage != null and userImage != ''">
                user_image = #{userImage,jdbcType=VARCHAR},
            </if>
            <if test="userDisplayName != null and userDisplayName != ''">
                user_display_name = #{userDisplayName,jdbcType=VARCHAR},
            </if>
            <if test="username != null and username != ''">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="userDesc != null and userDesc != ''">
                user_desc = #{userDesc,jdbcType=VARCHAR},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null and email != ''">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="qq != null and qq != ''">
                qq = #{qq,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--通过表字段修改实体属性不为null的列-->
    <update id="updateByField">
        update t_user
        <set>
            <if test="where.loginEnable == null and set.loginEnable != null and set.loginEnable != ''">
                login_enable = #{set.loginEnable,jdbcType=VARCHAR},
            </if>
            <if test="where.loginError == null and set.loginError != null">
                login_error = #{set.loginError,jdbcType=INTEGER},
            </if>
            <if test="where.loginLastTime == null and set.loginLastTime != null">
                login_last_time = #{set.loginLastTime,jdbcType=TIMESTAMP},
            </if>
            <if test="where.userImage == null and set.userImage != null and set.userImage != ''">
                user_image = #{set.userImage,jdbcType=VARCHAR},
            </if>
            <if test="where.userDisplayName == null and set.userDisplayName != null and set.userDisplayName != ''">
                user_display_name = #{set.userDisplayName,jdbcType=VARCHAR},
            </if>
            <if test="where.username == null and set.username != null and set.username != ''">
                username = #{set.username,jdbcType=VARCHAR},
            </if>
            <if test="where.password == null and set.password != null and set.password != ''">
                password = #{set.password,jdbcType=VARCHAR},
            </if>
            <if test="where.userDesc == null and set.userDesc != null and set.userDesc != ''">
                user_desc = #{set.userDesc,jdbcType=VARCHAR},
            </if>
            <if test="where.sex == null and set.sex != null and set.sex != ''">
                sex = #{set.sex,jdbcType=VARCHAR},
            </if>
            <if test="where.phone == null and set.phone != null and set.phone != ''">
                phone = #{set.phone,jdbcType=VARCHAR},
            </if>
            <if test="where.email == null and set.email != null and set.email != ''">
                email = #{set.email,jdbcType=VARCHAR},
            </if>
            <if test="where.qq == null and set.qq != null and set.qq != ''">
                qq = #{set.qq,jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            <if test="where.id != null">
                and id = #{where.id,jdbcType=INTEGER}
            </if>
            <if test="where.loginEnable != null">
                and login_enable = #{where.loginEnable,jdbcType=VARCHAR}
            </if>
            <if test="where.loginError != null">
                and login_error = #{where.loginError,jdbcType=INTEGER}
            </if>
            <if test="where.loginLastTime != null">
                and login_last_time = #{where.loginLastTime,jdbcType=TIMESTAMP}
            </if>
            <if test="where.userImage != null">
                and user_image = #{where.userImage,jdbcType=VARCHAR}
            </if>
            <if test="where.userDisplayName != null">
                and user_display_name = #{where.userDisplayName,jdbcType=VARCHAR}
            </if>
            <if test="where.username != null">
                and username = #{where.username,jdbcType=VARCHAR}
            </if>
            <if test="where.password != null">
                and password = #{where.password,jdbcType=VARCHAR}
            </if>
            <if test="where.userDesc != null">
                and user_desc = #{where.userDesc,jdbcType=VARCHAR}
            </if>
            <if test="where.sex != null">
                and sex = #{where.sex,jdbcType=VARCHAR}
            </if>
            <if test="where.phone != null">
                and phone = #{where.phone,jdbcType=VARCHAR}
            </if>
            <if test="where.email != null">
                and email = #{where.email,jdbcType=VARCHAR}
            </if>
            <if test="where.qq != null">
                and qq = #{where.qq,jdbcType=VARCHAR}
            </if>
            <if test="where.createdTime != null">
                and created_time = #{where.createdTime,jdbcType=TIMESTAMP}
            </if>
            <if test="where.createdBy != null">
                and created_by = #{where.createdBy,jdbcType=VARCHAR}
            </if>
            <if test="where.updatedTime != null">
                and updated_time = #{where.updatedTime,jdbcType=TIMESTAMP}
            </if>
            <if test="where.updatedBy != null">
                and updated_by = #{where.updatedBy,jdbcType=VARCHAR}
            </if>
        </where>
    </update>

    <!--通过主键修改实体列表，列表长度不能为0，注意：当实体属性为null时，对应的列也会别更新为null-->
    <update id="updateBatch" parameterType="list">
        update t_user
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="login_enable = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.loginEnable}
                </foreach>
            </trim>
            <trim prefix="login_error = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.loginError}
                </foreach>
            </trim>
            <trim prefix="login_last_time = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.loginLastTime}
                </foreach>
            </trim>
            <trim prefix="user_image = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.userImage}
                </foreach>
            </trim>
            <trim prefix="user_display_name = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.userDisplayName}
                </foreach>
            </trim>
            <trim prefix="username = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.username}
                </foreach>
            </trim>
            <trim prefix="password = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.password}
                </foreach>
            </trim>
            <trim prefix="user_desc = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.userDesc}
                </foreach>
            </trim>
            <trim prefix="sex = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.sex}
                </foreach>
            </trim>
            <trim prefix="phone = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.phone}
                </foreach>
            </trim>
            <trim prefix="email = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.email}
                </foreach>
            </trim>
            <trim prefix="qq = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.qq}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>

    <!--通过主键删除-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete
        from t_user
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <!--通过实体非空属性删除-->
    <delete id="deleteByEntity" parameterType="cn.org.dianjiu.server.entity.TUser">
        delete from t_user
        <where>
            <if test="loginEnable != null">
                and login_enable = #{loginEnable,jdbcType=VARCHAR}
            </if>
            <if test="loginError != null">
                and login_error = #{loginError,jdbcType=INTEGER}
            </if>
            <if test="loginLastTime != null">
                and login_last_time = #{loginLastTime,jdbcType=TIMESTAMP}
            </if>
            <if test="userImage != null">
                and user_image = #{userImage,jdbcType=VARCHAR}
            </if>
            <if test="userDisplayName != null">
                and user_display_name = #{userDisplayName,jdbcType=VARCHAR}
            </if>
            <if test="username != null">
                and username = #{username,jdbcType=VARCHAR}
            </if>
            <if test="password != null">
                and password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="userDesc != null">
                and user_desc = #{userDesc,jdbcType=VARCHAR}
            </if>
            <if test="sex != null">
                and sex = #{sex,jdbcType=VARCHAR}
            </if>
            <if test="phone != null">
                and phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="email != null">
                and email = #{email,jdbcType=VARCHAR}
            </if>
            <if test="qq != null">
                and qq = #{qq,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>

    <!--通过主键列表删除，列表长度不能为0-->
    <delete id="deleteByIds" parameterType="list">
        delete from t_user where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </delete>

    <select id="countAll" resultType="int">
        select count(id)
        from t_user
    </select>

    <select id="countByEntity" parameterType="cn.org.dianjiu.server.entity.TUser" resultType="int">
        select count(id) from t_user
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="loginEnable != null">
                and login_enable = #{loginEnable,jdbcType=VARCHAR}
            </if>
            <if test="loginError != null">
                and login_error = #{loginError,jdbcType=INTEGER}
            </if>
            <if test="loginLastTime != null">
                and login_last_time = #{loginLastTime,jdbcType=TIMESTAMP}
            </if>
            <if test="userImage != null">
                and user_image = #{userImage,jdbcType=VARCHAR}
            </if>
            <if test="userDisplayName != null">
                and user_display_name = #{userDisplayName,jdbcType=VARCHAR}
            </if>
            <if test="username != null">
                and username = #{username,jdbcType=VARCHAR}
            </if>
            <if test="password != null">
                and password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="userDesc != null">
                and user_desc = #{userDesc,jdbcType=VARCHAR}
            </if>
            <if test="sex != null">
                and sex = #{sex,jdbcType=VARCHAR}
            </if>
            <if test="phone != null">
                and phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="email != null">
                and email = #{email,jdbcType=VARCHAR}
            </if>
            <if test="qq != null">
                and qq = #{qq,jdbcType=VARCHAR}
            </if>
            <if test="createdTime != null">
                and created_time = #{createdTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createdBy != null">
                and created_by = #{createdBy,jdbcType=VARCHAR}
            </if>
            <if test="updatedTime != null">
                and updated_time = #{updatedTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updatedBy != null">
                and updated_by = #{updatedBy,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>

