<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.dianjiu.server.dao.TFileDao">

    <resultMap type="cn.org.dianjiu.server.entity.TFile" id="TFileResultMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
        <result property="filePath" column="file_path" jdbcType="VARCHAR"/>
        <result property="filePreviewPath" column="file_preview_path" jdbcType="VARCHAR"/>
        <result property="fileType" column="file_type" jdbcType="VARCHAR"/>
        <result property="fileSize" column="file_size" jdbcType="VARCHAR"/>
        <result property="fileSuffix" column="file_suffix" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="table_field">
      id, file_name, file_path, file_preview_path, file_type, file_size, file_suffix, status, create_time, update_time      
    </sql>
       
    <!--通过Id查询单个对象-->
    <select id="getById" resultMap="TFileResultMap" parameterType="java.lang.Integer">
        select
          <include refid="table_field" />
        from t_file
        where id = #{id,jdbcType=INTEGER}
    </select>


    <!--通过实体不为空的属性作为筛选条件查询对象列表-->
    <select id="listByEntity" resultMap="TFileResultMap" parameterType="cn.org.dianjiu.server.entity.TFile">
        select
          <include refid="table_field" />
        from t_file
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="fileName != null">
                and file_name = #{fileName,jdbcType=VARCHAR}
            </if>
            <if test="filePath != null">
                and file_path = #{filePath,jdbcType=VARCHAR}
            </if>
            <if test="filePreviewPath != null">
                and file_preview_path = #{filePreviewPath,jdbcType=VARCHAR}
            </if>
            <if test="fileType != null">
                and file_type = #{fileType,jdbcType=VARCHAR}
            </if>
            <if test="fileSize != null">
                and file_size = #{fileSize,jdbcType=VARCHAR}
            </if>
            <if test="fileSuffix != null">
                and file_suffix = #{fileSuffix,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <!--通过实体不为空的属性作为筛选条件查询单个对象-->
    <select id="getByEntity" resultMap="TFileResultMap" parameterType="cn.org.dianjiu.server.entity.TFile">
        select
          <include refid="table_field" />
        from t_file
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="fileName != null">
                and file_name = #{fileName,jdbcType=VARCHAR}
            </if>
            <if test="filePath != null">
                and file_path = #{filePath,jdbcType=VARCHAR}
            </if>
            <if test="filePreviewPath != null">
                and file_preview_path = #{filePreviewPath,jdbcType=VARCHAR}
            </if>
            <if test="fileType != null">
                and file_type = #{fileType,jdbcType=VARCHAR}
            </if>
            <if test="fileSize != null">
                and file_size = #{fileSize,jdbcType=VARCHAR}
            </if>
            <if test="fileSuffix != null">
                and file_suffix = #{fileSuffix,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <!--通过Id列表作为筛选条件查询对象列表，列表长度不为0-->
    <select id="listByIds" resultMap="TFileResultMap" parameterType="list">
        select
          <include refid="table_field" />
        from t_file
        where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </select>

    <!--新增实体属性不为null的记录-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="cn.org.dianjiu.server.entity.TFile">
        insert into t_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="id != null">
             id,
          </if>
          <if test="fileName != null">
             file_name,
          </if>
          <if test="filePath != null">
             file_path,
          </if>
          <if test="filePreviewPath != null">
             file_preview_path,
          </if>
          <if test="fileType != null">
             file_type,
          </if>
          <if test="fileSize != null">
             file_size,
          </if>
          <if test="fileSuffix != null">
             file_suffix,
          </if>
          <if test="status != null">
             status,
          </if>
          <if test="createTime != null">
             create_time,
          </if>
          <if test="updateTime != null">
             update_time,
          </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
          <if test="id != null">
             #{id,jdbcType=INTEGER},
          </if>
          <if test="fileName != null">
             #{fileName,jdbcType=VARCHAR},
          </if>
          <if test="filePath != null">
             #{filePath,jdbcType=VARCHAR},
          </if>
          <if test="filePreviewPath != null">
             #{filePreviewPath,jdbcType=VARCHAR},
          </if>
          <if test="fileType != null">
             #{fileType,jdbcType=VARCHAR},
          </if>
          <if test="fileSize != null">
             #{fileSize,jdbcType=VARCHAR},
          </if>
          <if test="fileSuffix != null">
             #{fileSuffix,jdbcType=VARCHAR},
          </if>
          <if test="status != null">
             #{status,jdbcType=VARCHAR},
          </if>
          <if test="createTime != null">
             #{createTime,jdbcType=TIMESTAMP},
          </if>
          <if test="updateTime != null">
             #{updateTime,jdbcType=TIMESTAMP},
          </if>
        </trim>
    </insert>

    <!--批量新增所有列，列表长度不能为0，且列表id统一为null或者统一不为null-->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true" parameterType="list">
        insert into t_file
         (<if test="id != null">id,</if>file_name, file_path, file_preview_path, file_type, file_size, file_suffix, status, create_time, update_time)
        values
        <foreach item="item" collection="list" separator="," open="" close="" index="index">
         (<if test="item.id != null">#{item.id,jdbcType=INTEGER},</if>#{item.fileName,jdbcType=VARCHAR}, #{item.filePath,jdbcType=VARCHAR}, #{item.filePreviewPath,jdbcType=VARCHAR}, #{item.fileType,jdbcType=VARCHAR}, #{item.fileSize,jdbcType=VARCHAR}, #{item.fileSuffix,jdbcType=VARCHAR}, #{item.status,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>

    <!--通过主键修改实体属性不为null的列-->
    <update id="update" parameterType="cn.org.dianjiu.server.entity.TFile">
        update t_file
        <set>
            <if test="fileName != null and fileName != ''">
                file_name = #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="filePath != null and filePath != ''">
                file_path = #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="filePreviewPath != null and filePreviewPath != ''">
                file_preview_path = #{filePreviewPath,jdbcType=VARCHAR},
            </if>
            <if test="fileType != null and fileType != ''">
                file_type = #{fileType,jdbcType=VARCHAR},
            </if>
            <if test="fileSize != null and fileSize != ''">
                file_size = #{fileSize,jdbcType=VARCHAR},
            </if>
            <if test="fileSuffix != null and fileSuffix != ''">
                file_suffix = #{fileSuffix,jdbcType=VARCHAR},
            </if>
            <if test="status != null and status != ''">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--通过表字段修改实体属性不为null的列-->
    <update id="updateByField">
        update t_file
        <set>
            <if test="where.fileName == null and set.fileName != null and set.fileName != ''">
                file_name = #{set.fileName,jdbcType=VARCHAR},
            </if>
            <if test="where.filePath == null and set.filePath != null and set.filePath != ''">
                file_path = #{set.filePath,jdbcType=VARCHAR},
            </if>
            <if test="where.filePreviewPath == null and set.filePreviewPath != null and set.filePreviewPath != ''">
                file_preview_path = #{set.filePreviewPath,jdbcType=VARCHAR},
            </if>
            <if test="where.fileType == null and set.fileType != null and set.fileType != ''">
                file_type = #{set.fileType,jdbcType=VARCHAR},
            </if>
            <if test="where.fileSize == null and set.fileSize != null and set.fileSize != ''">
                file_size = #{set.fileSize,jdbcType=VARCHAR},
            </if>
            <if test="where.fileSuffix == null and set.fileSuffix != null and set.fileSuffix != ''">
                file_suffix = #{set.fileSuffix,jdbcType=VARCHAR},
            </if>
            <if test="where.status == null and set.status != null and set.status != ''">
                status = #{set.status,jdbcType=VARCHAR},
            </if>
            <if test="where.createTime == null and set.createTime != null">
                create_time = #{set.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="where.updateTime == null and set.updateTime != null">
                update_time = #{set.updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <where>
            <if test="where.id != null">
                and id = #{where.id,jdbcType=INTEGER}
            </if>
            <if test="where.fileName != null">
                and file_name = #{where.fileName,jdbcType=VARCHAR}
            </if>
            <if test="where.filePath != null">
                and file_path = #{where.filePath,jdbcType=VARCHAR}
            </if>
            <if test="where.filePreviewPath != null">
                and file_preview_path = #{where.filePreviewPath,jdbcType=VARCHAR}
            </if>
            <if test="where.fileType != null">
                and file_type = #{where.fileType,jdbcType=VARCHAR}
            </if>
            <if test="where.fileSize != null">
                and file_size = #{where.fileSize,jdbcType=VARCHAR}
            </if>
            <if test="where.fileSuffix != null">
                and file_suffix = #{where.fileSuffix,jdbcType=VARCHAR}
            </if>
            <if test="where.status != null">
                and status = #{where.status,jdbcType=VARCHAR}
            </if>
            <if test="where.createTime != null">
                and create_time = #{where.createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="where.updateTime != null">
                and update_time = #{where.updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </update>

    <!--通过主键修改实体列表，列表长度不能为0，注意：当实体属性为null时，对应的列也会别更新为null-->
    <update id="updateBatch" parameterType="list">
        update t_file
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="file_name = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.fileName}
                 </foreach>
            </trim>
            <trim prefix="file_path = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.filePath}
                 </foreach>
            </trim>
            <trim prefix="file_preview_path = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.filePreviewPath}
                 </foreach>
            </trim>
            <trim prefix="file_type = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.fileType}
                 </foreach>
            </trim>
            <trim prefix="file_size = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.fileSize}
                 </foreach>
            </trim>
            <trim prefix="file_suffix = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.fileSuffix}
                 </foreach>
            </trim>
            <trim prefix="status = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.status}
                 </foreach>
            </trim>
            <trim prefix="create_time = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.createTime}
                 </foreach>
            </trim>
            <trim prefix="update_time = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.updateTime}
                 </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
    
    <!--通过主键删除-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_file where id = #{id,jdbcType=INTEGER}
    </delete>

    <!--通过实体非空属性删除-->
    <delete id="deleteByEntity" parameterType="cn.org.dianjiu.server.entity.TFile">
        delete from t_file
        <where>
            <if test="fileName != null">
                and file_name = #{fileName,jdbcType=VARCHAR}
            </if>
            <if test="filePath != null">
                and file_path = #{filePath,jdbcType=VARCHAR}
            </if>
            <if test="filePreviewPath != null">
                and file_preview_path = #{filePreviewPath,jdbcType=VARCHAR}
            </if>
            <if test="fileType != null">
                and file_type = #{fileType,jdbcType=VARCHAR}
            </if>
            <if test="fileSize != null">
                and file_size = #{fileSize,jdbcType=VARCHAR}
            </if>
            <if test="fileSuffix != null">
                and file_suffix = #{fileSuffix,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </delete>
    
    <!--通过主键列表删除，列表长度不能为0-->
    <delete id="deleteByIds" parameterType="list">
        delete from t_file where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </delete>
    
    <select id="countAll" resultType="int">
        select count(id) from t_file
    </select>
    
    <select id="countByEntity" parameterType="cn.org.dianjiu.server.entity.TFile" resultType="int">
        select count(id) from t_file
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="fileName != null">
                and file_name = #{fileName,jdbcType=VARCHAR}
            </if>
            <if test="filePath != null">
                and file_path = #{filePath,jdbcType=VARCHAR}
            </if>
            <if test="filePreviewPath != null">
                and file_preview_path = #{filePreviewPath,jdbcType=VARCHAR}
            </if>
            <if test="fileType != null">
                and file_type = #{fileType,jdbcType=VARCHAR}
            </if>
            <if test="fileSize != null">
                and file_size = #{fileSize,jdbcType=VARCHAR}
            </if>
            <if test="fileSuffix != null">
                and file_suffix = #{fileSuffix,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
</mapper>