<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.dianjiu.server.dao.TFriendUrlDao">

    <resultMap type="cn.org.dianjiu.server.entity.TFriendUrl" id="TFriendUrlResultMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="friendName" column="friend_name" jdbcType="VARCHAR"/>
        <result property="friendImg" column="friend_img" jdbcType="VARCHAR"/>
        <result property="friendInfo" column="friend_info" jdbcType="VARCHAR"/>
        <result property="friendUrl" column="friend_url" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="table_field">
      id, friend_name, friend_img, friend_info, friend_url, create_time, update_time      
    </sql>
       
    <!--通过Id查询单个对象-->
    <select id="getById" resultMap="TFriendUrlResultMap" parameterType="java.lang.Integer">
        select
          <include refid="table_field" />
        from t_friend_url
        where id = #{id,jdbcType=INTEGER}
    </select>


    <!--通过实体不为空的属性作为筛选条件查询对象列表-->
    <select id="listByEntity" resultMap="TFriendUrlResultMap" parameterType="cn.org.dianjiu.server.entity.TFriendUrl">
        select
          <include refid="table_field" />
        from t_friend_url
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="friendName != null">
                and friend_name = #{friendName,jdbcType=VARCHAR}
            </if>
            <if test="friendImg != null">
                and friend_img = #{friendImg,jdbcType=VARCHAR}
            </if>
            <if test="friendInfo != null">
                and friend_info = #{friendInfo,jdbcType=VARCHAR}
            </if>
            <if test="friendUrl != null">
                and friend_url = #{friendUrl,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <!--通过实体不为空的属性作为筛选条件查询单个对象-->
    <select id="getByEntity" resultMap="TFriendUrlResultMap" parameterType="cn.org.dianjiu.server.entity.TFriendUrl">
        select
          <include refid="table_field" />
        from t_friend_url
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="friendName != null">
                and friend_name = #{friendName,jdbcType=VARCHAR}
            </if>
            <if test="friendImg != null">
                and friend_img = #{friendImg,jdbcType=VARCHAR}
            </if>
            <if test="friendInfo != null">
                and friend_info = #{friendInfo,jdbcType=VARCHAR}
            </if>
            <if test="friendUrl != null">
                and friend_url = #{friendUrl,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <!--通过Id列表作为筛选条件查询对象列表，列表长度不为0-->
    <select id="listByIds" resultMap="TFriendUrlResultMap" parameterType="list">
        select
          <include refid="table_field" />
        from t_friend_url
        where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </select>

    <!--新增实体属性不为null的记录-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="cn.org.dianjiu.server.entity.TFriendUrl">
        insert into t_friend_url
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="id != null">
             id,
          </if>
          <if test="friendName != null">
             friend_name,
          </if>
          <if test="friendImg != null">
             friend_img,
          </if>
          <if test="friendInfo != null">
             friend_info,
          </if>
          <if test="friendUrl != null">
             friend_url,
          </if>
          <if test="createTime != null">
             create_time,
          </if>
          <if test="updateTime != null">
             update_time,
          </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
          <if test="id != null">
             #{id,jdbcType=INTEGER},
          </if>
          <if test="friendName != null">
             #{friendName,jdbcType=VARCHAR},
          </if>
          <if test="friendImg != null">
             #{friendImg,jdbcType=VARCHAR},
          </if>
          <if test="friendInfo != null">
             #{friendInfo,jdbcType=VARCHAR},
          </if>
          <if test="friendUrl != null">
             #{friendUrl,jdbcType=VARCHAR},
          </if>
          <if test="createTime != null">
             #{createTime,jdbcType=TIMESTAMP},
          </if>
          <if test="updateTime != null">
             #{updateTime,jdbcType=TIMESTAMP},
          </if>
        </trim>
    </insert>

    <!--批量新增所有列，列表长度不能为0，且列表id统一为null或者统一不为null-->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true" parameterType="list">
        insert into t_friend_url
         (<if test="id != null">id,</if>friend_name, friend_img, friend_info, friend_url, create_time, update_time)
        values
        <foreach item="item" collection="list" separator="," open="" close="" index="index">
         (<if test="id != null">#{id,jdbcType=INTEGER},</if>#{friendName,jdbcType=VARCHAR}, #{friendImg,jdbcType=VARCHAR}, #{friendInfo,jdbcType=VARCHAR}, #{friendUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>

    <!--通过主键修改实体属性不为null的列-->
    <update id="update" parameterType="cn.org.dianjiu.server.entity.TFriendUrl">
        update t_friend_url
        <set>
            <if test="friendName != null and friendName != ''">
                friend_name = #{friendName,jdbcType=VARCHAR},
            </if>
            <if test="friendImg != null and friendImg != ''">
                friend_img = #{friendImg,jdbcType=VARCHAR},
            </if>
            <if test="friendInfo != null and friendInfo != ''">
                friend_info = #{friendInfo,jdbcType=VARCHAR},
            </if>
            <if test="friendUrl != null and friendUrl != ''">
                friend_url = #{friendUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--通过表字段修改实体属性不为null的列-->
    <update id="updateByField">
        update t_friend_url
        <set>
            <if test="where.friendName == null and set.friendName != null and set.friendName != ''">
                friend_name = #{set.friendName,jdbcType=VARCHAR},
            </if>
            <if test="where.friendImg == null and set.friendImg != null and set.friendImg != ''">
                friend_img = #{set.friendImg,jdbcType=VARCHAR},
            </if>
            <if test="where.friendInfo == null and set.friendInfo != null and set.friendInfo != ''">
                friend_info = #{set.friendInfo,jdbcType=VARCHAR},
            </if>
            <if test="where.friendUrl == null and set.friendUrl != null and set.friendUrl != ''">
                friend_url = #{set.friendUrl,jdbcType=VARCHAR},
            </if>
            <if test="where.createTime == null and set.createTime != null">
                create_time = #{set.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="where.updateTime == null and set.updateTime != null">
                update_time = #{set.updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <where>
            <if test="where.id != null">
                and id = #{where.id,jdbcType=INTEGER}
            </if>
            <if test="where.friendName != null">
                and friend_name = #{where.friendName,jdbcType=VARCHAR}
            </if>
            <if test="where.friendImg != null">
                and friend_img = #{where.friendImg,jdbcType=VARCHAR}
            </if>
            <if test="where.friendInfo != null">
                and friend_info = #{where.friendInfo,jdbcType=VARCHAR}
            </if>
            <if test="where.friendUrl != null">
                and friend_url = #{where.friendUrl,jdbcType=VARCHAR}
            </if>
            <if test="where.createTime != null">
                and create_time = #{where.createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="where.updateTime != null">
                and update_time = #{where.updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </update>

    <!--通过主键修改实体列表，列表长度不能为0，注意：当实体属性为null时，对应的列也会别更新为null-->
    <update id="updateBatch" parameterType="list">
        update t_friend_url
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="friend_name = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.friendName}
                 </foreach>
            </trim>
            <trim prefix="friend_img = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.friendImg}
                 </foreach>
            </trim>
            <trim prefix="friend_info = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.friendInfo}
                 </foreach>
            </trim>
            <trim prefix="friend_url = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.friendUrl}
                 </foreach>
            </trim>
            <trim prefix="create_time = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.createTime}
                 </foreach>
            </trim>
            <trim prefix="update_time = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.updateTime}
                 </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
    
    <!--通过主键删除-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_friend_url where id = #{id,jdbcType=INTEGER}
    </delete>

    <!--通过实体非空属性删除-->
    <delete id="deleteByEntity" parameterType="cn.org.dianjiu.server.entity.TFriendUrl">
        delete from t_friend_url
        <where>
            <if test="friendName != null">
                and friend_name = #{friendName,jdbcType=VARCHAR}
            </if>
            <if test="friendImg != null">
                and friend_img = #{friendImg,jdbcType=VARCHAR}
            </if>
            <if test="friendInfo != null">
                and friend_info = #{friendInfo,jdbcType=VARCHAR}
            </if>
            <if test="friendUrl != null">
                and friend_url = #{friendUrl,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </delete>
    
    <!--通过主键列表删除，列表长度不能为0-->
    <delete id="deleteByIds" parameterType="list">
        delete from t_friend_url where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </delete>
    
    <select id="countAll" resultType="int">
        select count(id) from t_friend_url
    </select>
    
    <select id="countByEntity" parameterType="cn.org.dianjiu.server.entity.TFriendUrl" resultType="int">
        select count(id) from t_friend_url
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="friendName != null">
                and friend_name = #{friendName,jdbcType=VARCHAR}
            </if>
            <if test="friendImg != null">
                and friend_img = #{friendImg,jdbcType=VARCHAR}
            </if>
            <if test="friendInfo != null">
                and friend_info = #{friendInfo,jdbcType=VARCHAR}
            </if>
            <if test="friendUrl != null">
                and friend_url = #{friendUrl,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
</mapper>